
.searchInput {
  /* margin-top: 100px; */
display: flex;
justify-content:center;



  }

.searchInput .input{
  margin-left: 390px;
width: 350px;
height: 30px;
border: none;
border-radius: 25px 0 0 25px;
outline: none;
padding: 0 25px;
}


.searchInput .searchboton{
  border: none;
  border-radius: 10px;
  margin-left: 3px;
  border-radius: 0 25px 25px 0;
  outline: none;
  cursor: pointer;
background-color: yellow;
color:red;
font-family: "Lato";



}


h1{
  margin-top: 30px;
  margin-left: 60px;


}
form{
  width: 800px;
  background-color: rgba(255, 0, 0, 0.865);
  padding: 50px 80px ;
  border-radius: 20px;
  margin-top: 50px;
  display:table;
margin-left: 400px;
margin-right: 20px;
margin-bottom: 50px;

}


label{
 display: inline-flex;
  width: 200px;
  border-radius: 5px;
  font-size:20px;
  margin-bottom: 20px;
color: yellow;

}
.nombre{
  border: none;
  height: 30px;
  border-radius: 5px;
  font-size: 20px;
  

}
 

select{
  border: none;
  font-size: 20px;
  border-radius: 15px;
  background-color: rgb(255, 255, 94);
 margin-left: 15px; 
 margin-right: 10px;
 
}
 .volver{
 margin-top: 30px;
  display: flex;
  justify-content: center;
 margin-right: 20px;


 
 }
   

.volver h6{
  
  font-size: 18px;
  background-color: yellow;
  padding: 10px;
  border-radius: 20px;
  color: #fa0505;
  margin-right: 20px;
}

.volver button{
  text-decoration:none;
  font-weight:600;
  font-size:18px;
  color:#fa0505;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:40px;
  padding-right:40px;
  background-color:yellow;
  border: none;
}

.tipos{
  display: inline-flex;
  font-size: 20px;
  background-color: yellow;
  margin-top: -10px;
padding: 20px;
border-radius: 10px;
margin-bottom: 10px;
margin-left: 10px;
}

.tipos .eliminar{
  margin-left: 20px;
  background-color: yellow;
  color: #fa0505;
  font-weight: 50px;
  font-size: 20px;
  width: 20px;
border: none ;
}

